
.container {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1.6fr .6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "title"
    "playArea"
    "footer";
  margin: 0;
  background-color: darkslategrey;
  color: black;
  height: 100vh;
}
  
.title {
  grid-area: title;
  text-align: center;
  margin: 0;
  background-image: url("./images/concrete.jpeg");
  background-repeat: repeat;
  font-family: VTKS SMASH Regular;
}
.policeLight {
  margin: 0;
}

.playArea {
  grid-area: playArea;
  margin: 0;
  background-image: url("./images/concrete.jpeg");
  background-repeat: repeat;
  font-family: Tippa;
  font-size: .75em;
}

.doorGrid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 0px 0px;
    margin: 10px;
    height: fit-content;
    width: fit-content;
    border: solid 5px black;
}

.cell {
    height: 7vw;
    width: 7vw;
    background-color: white;
    border: solid 3px white;
    text-align: center;
    font-size: 1.5em;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#flagButton {
  background-color: yellow;
  padding: 5px 10px;
  margin: 5px 10px;
}

#play-reset {
  background-color: red;
}

.material-symbols-outlined {
  color: black;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#mikeW, #sully, #door1 {
  display: none;
}

.hide {
  display: none;
}

#door1 {
  max-height: 50px;
}

#cdaAgent {
  height: 300px;
}
#cdaAgent:hover {
  cursor: pointer;
  transform: translateY(3px);
  background-color: rgba(0, 0, 0,0.1);
}
#cdaAgent:active {
  transform: translateY(5px);
}
 
.footer { grid-area: footer; }

.concreteFloor {
  background-color: #00041f;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
}

#helpButton {
    margin: 30px;
    padding: 5px 10px;
    font-size: 2em;
    background-color: transparent;
}

#instructions {
    display: none;
}

/* WEB FONT */

@font-face {
  font-family: VTKS SMASH Regular;
  src: url(./fonts/vtks-smash/VTKS\ SMASH.ttf);
}

@font-face {
  font-family: Tippa;
  src: url(./fonts/tippa/Tippa.ttf);
}

@font-face {
  font-family: Computer7;
  src: url(./fonts/computer-7/computer_7.ttf);
}
/* MEDIA QUERIES */

@media only screen and (min-width: 450px) {
  .cell {
    height: 30px;
    width: 30px;
  }

  #play-reset {
    font-size: 2em;
  }
  #flagButton {
    height: 50px;
  }

  .break-wrapper {
    flex-direction: row;
  }
  .welcomeAgent {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1024px) {
  .cell {
    height: 40px;
    width: 40px;
  }
  
  .container {  
      display: grid; 
      grid-template-columns: 0.5fr 2fr 0.5fr; 
      grid-template-rows: 0.4fr 2fr 0.6fr; 
      gap: 0px 0px; 
      grid-template-areas: 
        "title title title"
        "playArea playArea playArea"
        "footer footer footer";
      margin: 0;
      height: 100vh;
  }

  .doorGrid {
    justify-content:flex-start;
    margin-left: 50px;
  }
}