
.container {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1.6fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "title"
      "doorGrid"
      "footer";
    margin: 0;
    background-color: aquamarine;
    height: 100vh;
  }
  
.title {
    grid-area: title;
    text-align: center;
}

.doorGrid {
    grid-area: doorGrid;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 0px 0px;
    margin: 20px;
    height: fit-content;
    width: fit-content;
    border: solid 5px black;
}

.cell {
    height: 20px;
    width: 20px;
    background-color: white;
    border: solid 3px white;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#flagButton, #play-reset {
  background-color: transparent;
  padding: 5px 10px;
  margin: 5px 10px;
}

.material-symbols-outlined {
  color: black;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#mikeW, #sully, #door1 {
  display: none;
}

.hide {
  display: none;
}

#door1 {
  height: 50px;
}

#cdaAgent {
  height: 250px
}

.footer { grid-area: footer; }

#helpButton {
    margin: 30px;
    padding: 5px 10px;
    font-size: 2em;
    background-color: transparent;
}

#instructions {
    display: none;
}

  @media only screen and (min-width: 1024px) {
    .container {  
        display: grid; 
        grid-template-columns: 0.5fr 2fr 0.5fr; 
        grid-template-rows: 0.4fr 2fr 0.6fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "title . ."
          ". doorGrid ."
          "footer . .";
        margin: 0;
        background-color: aquamarine;
        height: 100vh;
    }
}